# -----------------------------------------
# Python
# -----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Byte-compiled
*.pyc

# -----------------------------------------
# Virtual environments
# -----------------------------------------
piidetectionenv/
venv/
env/
.venv/

# -----------------------------------------
# Environment files 
# -----------------------------------------
.env
*.env
!*.env.example   # example env allowed

# -----------------------------------------
# VSCode
# -----------------------------------------
.vscode/

# -----------------------------------------
# Cache / Temp
# -----------------------------------------
*.log
logs/
.cache/
dist/
build/
*.egg-info/

# -----------------------------------------
# OS files
# -----------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------
# Python Packaging 
# -----------------------------------------
*.egg
*.eggs/
.eggs/
pip-wheel-metadata/
